# Read CSV File

In [5]:
import pandas as pd
import numpy as np

In [6]:
Cars = pd.read_csv('Cars_dataset.csv')
Cars

,Car Name,min_price_inLakhs,max_price_inLakhs,Fuel Type,Car Variants,Transmission
0,Hyundai Creta,12.7,24.2,Petrol,43,Manual
1,Kia Sonet,8.2,18.8,Petrol,31,Manual
2,Kia Syros,9.7,18.7,Petrol,13,Manual
3,Maruti Suzuki Brezza,9.2,15.0,Petrol,18,Manual
4,Maruti Suzuki Grand Vitara,12.4,22.5,Petrol,20,Manual
...,...,...,...,...,...,...
643,Tata Nexon EV,13.3,18.4,NaN,18,Automatic
644,Hyundai i20 N Line,10.4,14.8,Petrol,4,Manual
645,Toyota Glanza,7.4,10.4,Petrol,9,Manual
646,Maruti Suzuki Ertiga (2022-2025),9.9,14.9,Petrol,9,Manual
647,Maruti Suzuki XL6,13.3,16.6,Petrol,7,Manual

In [7]:
Cars.head()

,Car Name,min_price_inLakhs,max_price_inLakhs,Fuel Type,Car Variants,Transmission
0,Hyundai Creta,12.7,24.2,Petrol,43,Manual
1,Kia Sonet,8.2,18.8,Petrol,31,Manual
2,Kia Syros,9.7,18.7,Petrol,13,Manual
3,Maruti Suzuki Brezza,9.2,15.0,Petrol,18,Manual
4,Maruti Suzuki Grand Vitara,12.4,22.5,Petrol,20,Manual

In [8]:
Cars.tail()

,Car Name,min_price_inLakhs,max_price_inLakhs,Fuel Type,Car Variants,Transmission
643,Tata Nexon EV,13.3,18.4,NaN,18,Automatic
644,Hyundai i20 N Line,10.4,14.8,Petrol,4,Manual
645,Toyota Glanza,7.4,10.4,Petrol,9,Manual
646,Maruti Suzuki Ertiga (2022-2025),9.9,14.9,Petrol,9,Manual
647,Maruti Suzuki XL6,13.3,16.6,Petrol,7,Manual

In [9]:
# Number of Columns
Cars.shape[1]

6

In [10]:
# Number of rows
Cars.shape[0]

648

In [11]:
# Datatype of the columns
Cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 648 entries, 0 to 647
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Car Name           648 non-null    object
 1   min_price_inLakhs  648 non-null    float64
 2   max_price_inLakhs  648 non-null    float64
 3   Fuel Type          594 non-null    object
 4   Car Variants       648 non-null    int64
 5   Transmission       648 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 30.5+ KB

In [12]:
# Total null values
Cars.isna().sum()

Car Name              0
min_price_inLakhs     0
max_price_inLakhs     0
Fuel Type            54
Car Variants          0
Transmission          0
dtype: int64

# Clean the Data

In [13]:
Cars.columns

Index(['Car Name', 'min_price_inLakhs', 'max_price_inLakhs', 'Fuel Type',
       'Car Variants', 'Transmission'],
      dtype='object')

In [14]:
Cars.rename(columns = {'Car Name' : 'Car_Name'}, inplace = True)

In [15]:
Cars

,Car_Name,min_price_inLakhs,max_price_inLakhs,Fuel Type,Car Variants,Transmission
0,Hyundai Creta,12.7,24.2,Petrol,43,Manual
1,Kia Sonet,8.2,18.8,Petrol,31,Manual
2,Kia Syros,9.7,18.7,Petrol,13,Manual
3,Maruti Suzuki Brezza,9.2,15.0,Petrol,18,Manual
4,Maruti Suzuki Grand Vitara,12.4,22.5,Petrol,20,Manual
...,...,...,...,...,...,...
643,Tata Nexon EV,13.3,18.4,NaN,18,Automatic
644,Hyundai i20 N Line,10.4,14.8,Petrol,4,Manual
645,Toyota Glanza,7.4,10.4,Petrol,9,Manual
646,Maruti Suzuki Ertiga (2022-2025),9.9,14.9,Petrol,9,Manual
647,Maruti Suzuki XL6,13.3,16.6,Petrol,7,Manual

In [16]:
Cars.rename(columns = {'Fuel Type' : 'Fuel_Type'}, inplace = True)

In [17]:
Cars

,Car_Name,min_price_inLakhs,max_price_inLakhs,Fuel_Type,Car Variants,Transmission
0,Hyundai Creta,12.7,24.2,Petrol,43,Manual
1,Kia Sonet,8.2,18.8,Petrol,31,Manual
2,Kia Syros,9.7,18.7,Petrol,13,Manual
3,Maruti Suzuki Brezza,9.2,15.0,Petrol,18,Manual
4,Maruti Suzuki Grand Vitara,12.4,22.5,Petrol,20,Manual
...,...,...,...,...,...,...
643,Tata Nexon EV,13.3,18.4,NaN,18,Automatic
644,Hyundai i20 N Line,10.4,14.8,Petrol,4,Manual
645,Toyota Glanza,7.4,10.4,Petrol,9,Manual
646,Maruti Suzuki Ertiga (2022-2025),9.9,14.9,Petrol,9,Manual
647,Maruti Suzuki XL6,13.3,16.6,Petrol,7,Manual

In [18]:
# Handling the missing values
Cars.isna().sum()

Car_Name              0
min_price_inLakhs     0
max_price_inLakhs     0
Fuel_Type            54
Car Variants          0
Transmission          0
dtype: int64

In [19]:
# Warnings are NOT errors, Code runs correctly ,Output is correct But Python gives suggestions or alerts - to avoid these we use warnings
import warnings
warnings.filterwarnings('ignore')

In [20]:
Cars['Fuel_Type'].fillna(Cars['Fuel_Type'].mode()[0], inplace = True)

In [21]:
Cars.isna().sum()

Car_Name             0
min_price_inLakhs    0
max_price_inLakhs    0
Fuel_Type            0
Car Variants         0
Transmission         0
dtype: int64

In [22]:
Cars.head()

,Car_Name,min_price_inLakhs,max_price_inLakhs,Fuel_Type,Car Variants,Transmission
0,Hyundai Creta,12.7,24.2,Petrol,43,Manual
1,Kia Sonet,8.2,18.8,Petrol,31,Manual
2,Kia Syros,9.7,18.7,Petrol,13,Manual
3,Maruti Suzuki Brezza,9.2,15.0,Petrol,18,Manual
4,Maruti Suzuki Grand Vitara,12.4,22.5,Petrol,20,Manual